[user]
	name = kimbalsp
	email = skimball07@gmail.com
[core]
	editor = code
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
